
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    margin:0;padding:0;background:rgb(238, 235, 230);box-sizing: border-box;font-size: 13px; color: #000; font-family:'Open Sans', sans-serif;;
}
.clear { clear:both; }
.main { overflow: hidden; }
.container { max-width: 1300px; margin: 0px auto; position: relative; }
.head{width: 100%; overflow:hidden;  z-index: 1;background:#018a11;}
.head .logo{ margin-top: 5px; float:left; font-size: 35px; color:#fff; text-decoration: none; font-weight: 600;border-radius:5px;padding:3px;letter-spacing: 2px;}
.head.homeHeader {position: absolute;left: 0px; top: 0px;}

/*logout */
.menu{ float:right;}
.menu a{text-decoration:none;color:white;font-size:25px;font-weight: 400;}
  
/*footer */
.footer{ width:100%; z-index: 1; text-align: center; padding: 15px; background-color:#000;color:#fff ;}
.homefooter { position: absolute; left: 0px; bottom: 0px;}

/*index page */
.banner h1{font-size: 50px;margin-top:20px;}
.banner ul{position:absolute;top: 50%; left:35%;transform:translatey(-50%,-35%);}
.banner ul li{display:inline-block;list-style:none;}
.banner ul li a{border-radius: 5px;font-size:20px;border: 1px solid #f3ffd6;background:#018a11;margin:10px;padding:20px;color: white;text-decoration: none;}

  /* login box */
                .box{ width:300px;top:50%;left:50%;position: absolute;transform: translate(-50%,-50%);text-align: center;background: #191919;padding:50px;}
                .box h1{color: white;text-transform: uppercase;}
                .box input[type="text"],
                .box input[type="password"]{background: none;display: block;margin: 20px auto;text-align: center;border: 2px solid #0d453e;padding: 14px 10px;width:200px;outline: none;color: white;border-radius: 24px;transition: 0.25s;}
                .box input[type="text"]:focus{width: 250px; background: #1a8b7e;}
                .box input[type="password"]:focus{width: 250px; background:#1a8b7e; }
                .box input[type="submit"]{background: none;display: block;margin: 20px auto;text-align: center;border: 2px solid #0d453e;padding: 14px 10px;width:200px;outline: none; color: white;border-radius: 24px;transition: 0.25s;}
                .box input[type="submit"]:hover{background: #054724;}
                 
/*dashboard sidebar*/

 .wrapper{display: flex;position: absolute;}
 .wrapper .sidebar{ width: 300px;height: 100%;background: #e0e6df;padding: 30px 0;}
  .sidebar ul li{ padding: 15px;border-bottom: 1px solid rgb(0,0,0,0.05); list-style:none;color: black; display: block; text-decoration: none;}
  .sidebar ul li input[ type="submit"] {background: #018a11;display: block;margin: 20px auto;text-align: center;padding: 14px 10px;width:200px; outline: none;color: white;border-radius: 5px;transition: 0.25s;}
 .wrapper .sidebar ul li:hover{ width: 20px;}
 .right_side{display:flex;}
 .demo .search{margin: 10px; }
 .demo .search input[type="text"]{font-size:15px; }
 .demo .search input[type="submit"]{font-size:15px; background:#018a11;text-align: center;padding: 12px 10px;width:150px;margin: 10px auto;}
 

 /*left*/
 .search{margin-top:100px;text-align:center ;}
.search table input[type="text"]{width: 250px; background:white;}
.search  table input[type="submit"]{background: none;display: block;margin: 20px auto;text-align: center;border: 2px solid #0d453e;}

/* table */
.table{text-align: center;}
.table td{font-size:18px;}
.table td input[type="text"]{background: none;display: block;margin: 10px auto;padding:5px;width:400px;border:1px solid black}
.table td input[type="submit"]{font-size:25px;width:100px;background: none;display: block;margin: 10px auto;text-align: center;border: 1px solid white ;background-color:#018a11;text-align:center;text-color:white;}


.right_side{height: 75%;width: 80%;position: fixed;left:35%;top:21%;border: 1 px solid black; }



.student_info.table td{font-size:18px;}
.student_info.table td input[type="text"]{background: none;display: block;margin: 10px auto;padding:5px;width:400px;border:1px solid black}
.student_info.table td input[type="submit"]{font-size:25px;width:100px;background: none;display: block;margin: 10px auto;text-align: center;border: 1px solid white ;background-color:#018a11;text-align:center;text-color:white;}